#nav-bar {
  position: fixed;
  margin: 0;
  height: 80px;
  width: 100%;
  color: #e8fdff;
  background-color: #00a087;
  padding: 0 2em;
  z-index: 1;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  font-size: 2em;
  line-height: 250%;
  float: left;
  padding-left: 10px;
}

#nav-bar .composeButton {
  margin-top: 20px;
  width: 80px;
  height: 40px;
  float: right;
  border-radius: 5px;
  border: 1px black solid;
  background: white;
  color: #00a087;
}

#nav-bar .composeButton:hover {
  color: black;
  transition: 1s all ease-in;
}